<div class="tab-pane" id="shopping-cart">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th colspan="2">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            <img width="60px" src="/img/products/men_06.jpg" alt="product">
                        </a>
                    </td>
                    <td>
                        <h6 class="regular"><a href="javascript:void(0);">Lorem Ipsum</a></h6>
                        <p>Sed aliquam tincidunt tempus</p>
                    </td>
                    <td>
                        <span>$59.99</span>
                    </td>
                    <td>
                        <select class="form-control" name="select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </td>
                    <td>
                        <span class="text-primary">$59.99</span>
                    </td>
                    <td>
                        <button type="button" class="close">×</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            <img width="60px" src="/img/products/shoes_01.jpg" alt="product">
                        </a>
                    </td>
                    <td>
                        <h6 class="regular"><a href="javascript:void(0);">Lorem Ipsum</a></h6>
                        <p>Sed aliquam tincidunt tempus</p>
                    </td>
                    <td>
                        <span>$39.99</span>
                    </td>
                    <td>
                        <select class="form-control" name="select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </td>
                    <td>
                        <span class="text-primary">$39.99</span>
                    </td>
                    <td>
                        <button type="button" class="close">×</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            <img width="60px" src="/img/products/bags_07.jpg" alt="product">
                        </a>
                    </td>
                    <td>
                        <h6 class="regular"><a href="javascript:void(0);">Lorem Ipsum</a></h6>
                        <p>Sed aliquam tincidunt tempus</p>
                    </td>
                    <td>
                        <span>$29.99</span>
                    </td>
                    <td>
                        <select class="form-control" name="select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </td>
                    <td>
                        <span class="text-primary">$29.99</span>
                    </td>
                    <td>
                        <button type="button" class="close">×</button>
                    </td>
                </tr>
            </tbody>
        </table><!-- end table -->
    </div><!-- end table-responsive -->
</div><!-- end tab-pane -->





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
